@charset "utf-8";

/* CSS Document */
.inner {
	width: 1000px;
	margin: 0 auto;
}

.paroller_visu {
	background-image: url(../images/price_visual.jpg);
	background-size: cover;
	height: 220px;
	padding-top: 280px;
}

.paroller_visu h1 {
	text-align: center;
	font-family: 'Vampiro One', cursive;
	font-size: 72px;
	opacity: 0.85;
	color: #F5C870;
}

.paroller_visu .and {
	font-size: 48px;
	font-family: 'Londrina Solid', cursive;
	line-height: 48px;
}

/* section 1 */

.sec1 h2 {
	font-size: 36px;
	padding-top: 68px;
	padding-bottom: 47px;
	color: #BBD893;
	text-align: center;
	font-weight: bold;
}

.sec1 .left {
	width: 437px;
	text-align: center;
	float: left;
	margin-bottom: 115px;
}

.sec1 .right {
	text-align: center;
	width: 437px;
	float: right;
	margin-bottom: 115px;
}

.sec1 .board {
	height: 437px;
	background-color: #2B2B2B;
	color: #fff;
	padding-top: 42px;
	box-sizing: border-box;
}

.sec1 h3 {
	font-size: 48px;
	font-family: 'Londrina Solid', cursive;
}

.sec1 .left h3 {
	color: #65CADE;
}

.sec1 .right h3 {
	color: #F57C81;
}

.sec1 p {
	max-width: 352px;
	text-align: left;
	margin-top: 30px;
	font-family: '小塚ゴシック Pro L', 'Kozuka Gothic Pro Light', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 13px;
	line-height: 21px;
	margin-left: 55px;
}

.sec1 .left p span {
	font-size: 16px;
	color: #F57C81;
}

.sec1 .right p span {
	font-size: 16px;
	color: #65CADE;
}

.sec1 button {
	margin-top: 20px;
	padding: 12px 52px;
	background-color: #F5C870;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	-webkit-box-shadow: 0px 2px 5px rgba(70, 93, 76, 0.6);
}

.sec1 button:hover {
	opacity: 0.8;
	cursor: pointer;
}


/* section 2 */

.sec2 {
	background-color: #2B2B2B;
	padding: 50px 0 100px;
}

.sec2 h2 {
	font-size: 36px;
	color: #BBD893;
	font-weight: bold;
	text-align: center;
	margin-bottom: 60px;
}

.sec2 .odd {
	float: left;
	width: 438px;
}

.sec2 .even {
	float: right;
	width: 438px;
}

.sec2 .box {
	color: #fff;
	border: solid 2px #65CADE;
	padding: 15px;
	width: 438px;
	height: 438px;
	box-sizing: border-box;
}

.sec2 .boxin {
	border: solid 2px #65CADE;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.sec2 .box h3 {
	font-size: 18px;
	color: #F5C870;
	text-align: center;
	margin: 40px auto;
}

.sec2 .box .mini {
	margin: 20px auto;
}

.sec2 .box p {
	font-size: 14px;
	line-height: 16px;
	margin: 10px 4px;
	font-weight: 200;
}

.sec2 .box .step {
	font-size: 12px;
	line-height: 12px;
	margin-top: 0px;
	padding-bottom: 6px;
	border-bottom: 1px solid #fff;
	display: inline-block;
}

.sec2 .arrow {
	margin: 37px 0;
}

.sec2 .odd .arrow {
	text-align: right;
	position: relative;
	right: -70px;
}

.sec2 .even .arrow {
	position: relative;
	left: -70px;
}

/* 上からふわり用 */

.fadeinD {
	opacity: 0;
	transform: translate(0, -30px);
	transition: all 900ms;
}

.fadeinD.scrollin {
	opacity: 1;
	transform: translate(0, 0);
}

/* ただのふわり用 */

.fadein {
	opacity: 0;
	transition: all 900ms;
}

.fadein.scrollin {
	opacity: 1;
}

@media screen and (max-width:768px) {

	.paroller_visu {
		height: 150px;
		padding-top: 30px;
	}

	.paroller_visu h1 {
		font-size: 10vw;
	}

	.inner {
		width: 100vw;
		position: relative;
	}

	/* section 1 */

	.sec1 h2 {
		font-size: 7vw;
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: bold;
	}

	.sec1 .left {
		width: 95vw;
		float: none;
		margin: 0 auto 80px auto;
	}

	.sec1 .right {
		width: 95vw;
		float: none;
		margin: 0 auto 80px auto;
	}

	.sec1 .board {
		height: 100vw;
		padding-top: 10px;
	}

	.sec1 p {
		margin-top: 5px;
		margin-left: 10px;
		font-size: 12px;
		line-height: 16px;
		font-weight: lighter;
		font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}

	.sec1 p span {
		font-size: 14px;
		line-height: 18px;
	}

	/* section 2 */
	.sec2 h2 {
		font-size: 7vw;
		margin-bottom: 60px;
	}

	.sec2 .inner {
		width: 320px;
		margin: 0 auto;
	}

	.sec2 .odd {
		width: 320px;
		position: relative;
	}

	.sec2 .even {
		width: 320px;
		position: absolute;
	}

	.sec2 .box {
		border: solid 1px #65CADE;
		padding: 2px;
		width: 320px;
		height: 320px;
	}

	.sec2 .boxin {
		border: solid 1px #65CADE;
		width: 310px;
		height: 310px;
	}

	.sec2 .box h3 {
		font-size: 14px;
		margin: 10px auto;
	}

	.sec2 .box .mini {
		margin: 5px auto;
	}

	.sec2 .box p {
		font-size: 12px;
		line-height: 14px;
		margin: 5px 4px;
		font-weight: normal;
	}

	.sec2 .box .step {
		padding-bottom: 4px;
	}

	.sec2 .arrow {
		margin-bottom: 40px;
	}

	.sec2 .odd .arrow {
		margin-top: 550px;
		text-align: center;
		position: static;
		transform: rotate(-45deg);
	}

	.sec2 .even .arrow {
		margin-top: 550px;
		text-align: center;
		position: static;
		transform: rotate(45deg);
	}

	.sec2 .even .arrow:first-of-type {
		margin-top: 380px;
	}
}